<div *ngIf="hero">
    <h2>{{hero.name | uppercase }} Details</h2>
    <div>id: {{hero.id}}</div>
    <div>
        <label for="hero-name">Hero name: </label>
        <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
        <pre></pre>
        <label for="hero-name">Hero Superpower: </label>
        <input id="hero-name" [(ngModel)]="hero.superpower" placeholder="name">
        <pre></pre>
        <label for="hero-name"> Current Nemesis: </label>
        <input id="hero-name" [disabled]="true" [(ngModel)]="hero.nemesis" placeholder="name">
        <br><br>
        <label for="hero-nemesis">Assign Nemesis: </label>
        <select #villain (change)="onSelected(villain.value)">
            <option *ngFor="let villain of villains">
                {{villain.name}}
            </option>
        </select>
    </div>
    <button type="button" (click)="goBack()"> << </button>
    <button type="button" (click)="save()"> save </button>
</div>
