<div *ngIf="hero">
    <h2>{{hero.name | uppercase }} Details</h2>
    <table border="1">
        <tr>
          <th>ID</th>
          <th>Hero</th>
          <th>Power</th>
          <th>Nemesis</th>
        </tr>
        <tr ng-repeat = "hero in heroes">
            <td>{{hero.id}}</td>
            <td ng-repeat="name in hero">{{hero.name}}</td>
            <td ng-repeat="superpower in hero">{{hero.superpower}}</td>
            <td ng-repeat="nemesis in hero">{{hero.nemesis}}</td>
        </tr>
    </table>
    <pre></pre>
    <h4>Update Name and Nemesis:</h4>
    <div>
        <input id="hero-name" [(ngModel)]="hero.name" placeholder="name">
        <p></p>
        <select #villain (change)="onSelected(villain.value)">
            <option *ngFor="let villain of villains">
                {{villain.name}}
            </option>
        </select>
    </div>

        
    <button type="button" (click)="goBack()"> << </button>
    <button type="button" (click)="save()"> save </button>
</div>
